@page
@model TravelBug.Pages.HelpModel
@{
    ViewData["Title"] = "Help page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <!--Font sheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Manjari' rel='stylesheet'>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">We are here to help you.</h1>
            <p class="lead text-center">Know how the site works and take advantage of our features.</p><p class="lead text-center"> Drop us an email on help@travelbug.com if you need more assistance.</p>
        </div>
    </div>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="~/img/help_about_us.png" alt="About Us">
            <div class="card-body">
                <h5 class="card-title">Where to find about us</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/help_search.png" alt="Home PAge">
            <div class="card-body">
                <h5 class="card-title">Where to Search ???</h5>
                <p class="card-text">With our search feature you can find packages available in the city of your choice</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/help_travelbug.png" alt="Home PAge">
            <div class="card-body">
                <h5 class="card-title">Where to find the Home Page</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>HELP! HELP! HELP!</p>
                <footer class="blockquote-footer">
                    <small>
                        We are here to help <cite title="Source Title">YOU</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Want to book a package ?</h5>
                <p class="card-text">Drop us an email with the package of your choice. Our Travel Coordinators withh reachout to you with the best deal.</p>
                <p class="card-text"><small class="text-muted">Budget Friendly Travel</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/help_destination.png" alt="About Us">
            <div class="card-body">
                <h5 class="card-title">Looking for a destination ?</h5>
                <p class="card-text">Click on the highlighted tab to see all the destinations we cover.</p>
            </div>
        </div>
        <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
                <p>Understand our features for a better travel plan.</p>
            </blockquote>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/help_packages.png" alt="Home Page">
            <div class="card-body">
                <h5 class="card-title">Looking for Packages ?</h5>
                <p class="card-text">Click on the highlighted tab to see all the packages we offer..</p>
            </div>
        </div>
    </div>
</body>
</html>